* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:var(--primary-color) 
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    position: relative;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: lightcoral;
    color: black;
}

h2 {
    position: relative;
    background-color: lightgray;
    text-align: center;
}

h3 {
    position: relative;
    background-color: lightgray;
    text-align: center;
}

section {
    background-color: lightblue;
    position: relative;
    padding: 0;
    margin: auto;
}

.hero article {
    position: absolute;
    border: blue;
    margin: auto;
}

.hero article img{
    float: right;
    width: 125px;
}

article {
    position: relative;
    top: 400px;
    margin: 30px;
    padding: 0;
    background-color: lightsalmon;
    width: 100%;
}

article p {
    position: relative;
}

header img {
    grid-column: 1/2;
}

header nav a{
    display: block;
    text-decoration: none;
    padding: 5px;
}

header {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center ;
    font-size: large;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
}

footer {
    border: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

section img {
    width: 150px;
}

.gallery {
    float: inline-start;
    text-align: center;
    gap: 10px;
    margin: 0;
}

.gallery img {
    max-width: 100%;
    height: auto;
}
.sector h2 {
    position: absolute;
    width: 100%;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
