* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px;
    float: right;
}
h1 {
    color: #000;
 }

h2 {
    position:absolute;
    top: 30px;
    left: 100px;
} 

p {
    padding: 0;
}

nav {
    background-color: antiquewhite;
    padding: 0;
    display: block;
}

nav a {
    color: #000;
    padding: 0;
    display: block;
}
aside {
    width: 20rem ;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15%;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: beige;
}