main {
    max-width: 840px;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px;
}
h1 {
    color: #000;
 }
p {
    padding: 0;
}

nav {
    background-color: antiquewhite;
    padding: 0;
    display: block;
}

nav a {
    color: #000;
    padding: 0;
    display: block;
}
aside {
    width: 20rem ;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15%;
    border-top: 1px solid #000;
    text-align: center;
}