* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 0;
    box-shadow: 0 0 30px;
    float: right;
}
h1 {
    color: #000;
    border-bottom: 0;
 }

h2 {
    position:absolute;
    top: 30px;
    left: 100px;
} 

p {
    padding: 0;
}

nav {
    background-color: antiquewhite;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #000;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}
aside {
    width: 20rem ;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15%;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: beige;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}